# Neon PostgreSQL Database
DATABASE_URL="postgresql://neondb_owner:npg_kZQFlu4X0nDt@ep-delicate-term-athoirnn.c-9.us-east-1.aws.neon.tech/livetv?sslmode=require"

# Hushed Proxy for external streams
HUSHED_PROXY_URL="https://hushed-brett-annualetesina-2b360535.koyeb.app"
