# Neon PostgreSQL Database
DATABASE_URL="postgresql://user:password@ep-xxx.us-east-2.aws.neon.tech/livetv?sslmode=require"

# Hushed Proxy for external streams
HUSHED_PROXY_URL="https://hushed-brett-annualetesina-2b360535.koyeb.app"
